* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 100%;
	text-align: left;
}	
body {
	width: 100%;
	margin: 20px 0;
	color: #ffffff;
	background-color: #000000; 
}
a {
	color: #cccccc;
}
.clear {
	clear: both;
}
#wrapper {
	margin: 0 auto;
	border: 1px solid #ffffff;
	width: 876px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, sans-serif;
}
#header {
	height: 45px;
	border-bottom: 1px solid #ffffff;
}
#logo {
	height: 45px;
	width: 250px;
}
#logo a {
	text-decoration: none;
}
#imagebar {
	height: 280px;
}
#mediabar {
	float: right;
	padding-top: 20px;
	padding-right: 20px;
}
#content {
	border-top: 1px solid #ffffff;
}
#content h2 {
	margin: 20px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #bbbbbb;
    color: #ffd944;
	text-transform: uppercase;
	font-weight: lighter;
}
.releases {
	padding: 0px 15px 25px 15px;
}
.release {
	float: left;
	width: 252px;
	height: 40px;
	padding: 10px;
	margin: 5px;
}
.release {
	background-color: #222222;
}
.release a {
	text-decoration: none;
}
.release a:link, .release a:visited, .release a:active {
	color: #2285cc;
}
.release a:hover {
	color: #84abff;
}
.release h3 {
	background-color: #111111;
	font-weight: lighter;
	font-size: 95%;	
	text-transform: lowercase;
}
.release li {
	display: inline;
}
.playing {
	border: 1px solid #84abff;
	margin: 4px;
    background-color: #333333;
}
#license-info {
	clear: both;
	margin: 10px 20px 15px 20px;
    font-size: 80%;
}
#license-info a {
	text-decoration: none;
}
#footer {
	clear: both;
	border-top: 1px solid #ffffff;
	padding: 5px 20px 5px 20px;
    text-align: center;
	font-size: 75%;
}
#footer a {
	color: #cccccc;
}
#copyright {
	text-align: right;
}